@import '~variables.scss';

.nav-menu {
    background-color: #2d67b9;
    bottom: 0;
    color: #fff;
    height: 100%;
    left: 0;
    overflow-y: auto;
    position: fixed;
    right: 0;
    top: 0;

    .heading {
        margin: $spacing-large 0 80px 0;
        padding: 0 $spacing-large;
    }

    .nav-list {
        padding: 0;

        li {
            
            list-style: none;

            &:last-child {
                border-bottom: 0;
            }
        }
    }

    .nav-list-item .nav-list-item-content {
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }

    .nav-list-item:last-child .nav-list-item-content {
        border-bottom: 0;
    }

    .nav-list-link {
        @include hoverable(rgba(#2d67b9, 0.8));
        display: block;
    }

    .nav-list-item-content {
        align-items: center;
        display: flex;
        margin: 0 2 * $spacing-large;
        padding: $spacing-small $spacing-large;
    }

    .nav-item-icon {
        color: #22d6dd;
        flex: 0 0 auto;
        font-size: 20px;
        margin-right: $spacing-large;
    }

    .default-icon {
        visibility: hidden;
    }

    .nav-item-text {
        color: #fff;
        flex: 0 0 auto;
    }
}