.fade-container {
    opacity: 0;
    transition: none;
    visibility: hidden;

    &.hide {
        opacity: 0;
        visibility: hidden;
    }

    &.show {
        opacity: 1;
        visibility: visible;
    }

    &.transition {
        transition: opacity, visibility;
    }
}
